#app {
	height: 100svh;
	display: flex;
	overflow: hidden;
	position: relative;
}

a {
	cursor: pointer;
	color: currentColor;
	text-decoration: underline currentColor 0.15em;
}

a:not(.router-link-exact-active):hover {
	text-decoration-color: rgb(46, 184, 46);
}

a.router-link-exact-active {
	cursor: default;
	opacity: 0.5;
}
